// ===========================================================================
// Variables
// ===========================================================================
$maroon: #7d4351;
$purple: #524860;
$seafoam: #8cb2b8;
$cloudy: #cedbe0;

$body_color: #6d717d;
$page_bg: #e0ecee;
$header_bg: $purple;
$header_color: #514168;

// ===========================================================================
// Mixins
// ===========================================================================

@mixin simple_transition($duration: 0.08s, $property: all, $easing: ease-out, $delay: 0s) {
    -ms-transition: $property $duration $easing $delay;
    -webkit-transition: $property $duration $easing $delay;
    transition: $property $duration $easing $delay;
}

@mixin rotate($deg: 90) {
    -ms-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: url('../../images/' + ($image_name + $extention));
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url('../../images/' + ($x2img));
    background-size: $w $h;
  }
}

@mixin animation($name, $duration: 1s, $timing: linear, $count: infinite) {
    -ms-animation: $name $duration $timing $count;
    -moz-animation: $name $duration $timing $count;
    -webkit-animation: $name $duration $timing $count;
    animation: $name $duration $timing $count;
}

// ===========================================================================
// Animations
// ===========================================================================

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); opacity: 0.4; }
    50%  { -moz-transform: rotate(180deg); opacity: 1; }
    to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); opacity: 0.4; }
    50%  { -ms-transform: rotate(180deg); opacity: 1; }
    to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin {
    from { -o-transform: rotate(0deg); opacity: 0.4; }
    50%  { -o-transform: rotate(180deg); opacity: 1; }
    to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin {
    from { transform: rotate(0deg); opacity: 0.4; }
    50%  { transform: rotate(180deg); opacity: 1; }
    to   { transform: rotate(360deg); opacity: 0.4; }
}