@import "../../fonts/ss-social-regular.css";

// ===========================================================================
// Variables
// ===========================================================================

$bg_color:          #fff;
$header_color:      #4b574d;
$body_color:        #848484;
$link_color:        #609F80;
$link_hover_color:  #d8c571;

// ===========================================================================
// Mixins
// ===========================================================================

@mixin transition($duration: 0.08s, $property: all, $easing: ease-out, $delay: 0s) {
    -ms-transition: $property $duration $easing $delay;
    -webkit-transition: $property $duration $easing $delay;
    transition: $property $duration $easing $delay;
}

@mixin transform($transform) {
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin vertical_align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*@mixin section_colors($color: $page_link_color, $bg: $bg_color) {
    color: $color;
    background-color: $bg;

    h1 {
        color: $color;
    }

    p {
        color: transparentize($color, 0.4);
    }

    a {
        color: $color;
        border-color: $color;
    }
}*/

// ===========================================================================
// Animations
// ===========================================================================

@-webkit-keyframes tease {
    0%   { @include transform(translate(0, 0)); }
    50%  { @include transform(translate(0, -20px)); }
    100% { @include transform(translate(0, 0)); }
}

@-moz-keyframes tease {
    0%   { @include transform(translate(0, 0)); }
    50%  { @include transform(translate(0, -20px)); }
    100% { @include transform(translate(0, 0)); }
}

@keyframes tease {
    0%   { @include transform(translate(0, 0)); }
    50%  { @include transform(translate(0, -20px)); }
    100% { @include transform(translate(0, 0)); }
}

// ===========================================================================
// Reset + Utilities
// ===========================================================================

body {
    margin: 0;
    padding: 0;
}

p,
h1,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header,
section {
    display: block;
}

.offstage {
    display: block;
    width: 0;
    height: 0;
    text-indent: -1000em;
    overflow: hidden;
}

.center {
    text-align: center;
}

// ===========================================================================
// Stuff
// ===========================================================================

body {
    color: $body_color;
    background-color: $bg_color;
    font-family: 'proxima-nova', helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

section {
    .content {
        padding: 0 8em;
        margin: 0 auto;
        max-width: 600px;
        @include vertical_align;
    }
}

h1 {
    color: $header_color;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.35em;
}

a {
    display: inline-block;
    text-decoration: none;
}

p > a {
    color: $link_color;
    border-bottom: 2px solid $link_color;

    &:hover {
        color: $link_hover_color;
        border-bottom: 2px solid $link_hover_color;
    }
}

.mark {
    margin-bottom: 1.4em;
    width: 100px;
    height: 100px;
}

.border {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.8em;
    background-color: #609f80;
}

.tease {
    $arrow_size: 0.55em;
    $button_size: 2em;

    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -$button_size/2;
    width: $button_size;
    height: $button_size;
    background-color: lighten($header_color, 55%);
    border-radius: 100%;

    -webkit-animation: tease 4s infinite;
    -moz-animation: tease 4s infinite;
    animation: tease 4s infinite;

    .arrow {
        display: block;
        margin: 0.8em auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $arrow_size $arrow_size 0 $arrow_size;
        border-color: #fff transparent transparent transparent;
    }

    &:hover {
        background-color: $link_hover_color;
    }
}

.social_links {
    li {
        display: inline-block;
        margin: 1.5em 0.3em;
        margin-bottom: 0;
    }

    a {
        color: lighten($body_color, 30%);
        font-size: 2rem;

        span {
            @extend .offstage;
        }

        &.ss-twitter:hover {
            color: #00b0ed;
        }

        &.ss-tumblr:hover {
            color: #34465d;
        }

        &.ss-rdio:hover {
            color: #006ed2;
        }

        &.ss-instagram:hover {
            color: #211f20;
        }
    }
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &.nyc {
        background-image: url('/assets/images/photo_nyc.jpg');
    }
}

.hello .content {
    padding-bottom: 2.4em;
}

//.blue {
//    @include section_colors(#fff, #4e81a2);
//}

@media screen and (max-width: 800px) {
    section .content {
        padding: 0 3.5em;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    section .content {
        padding: 0 2em;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-height: 400px) {
    h1 {
        font-size: 2.2rem;
    }

    .hello .content {
        padding-bottom: 0;
    }

    .mark,
    .tease {
        display: none;
    }
}
