@import "../../fonts/ss-social-regular.css";

// ===========================================================================
// Mixins
// ===========================================================================

@mixin transition($duration: 0.08s, $property: all, $easing: ease-out, $delay: 0s) {
    -ms-transition: $property $duration $easing $delay;
    -webkit-transition: $property $duration $easing $delay;
    transition: $property $duration $easing $delay;
}

@mixin transform($transform) {
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

// ===========================================================================
// Variables
// ===========================================================================

$accent_color:      #609F80;
$bg_color:          #f6f6f6;
$header_color:      #4B574D;
$body_color:        $header_color;
$link_color:        #609F80;
$link_hover_color:  #CBB345;

// ===========================================================================
// Reset
// ===========================================================================

body {
    margin: 0;
    padding: 0;
}

p,
h1,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header,
section {
    display: block;
}

// ===========================================================================
// Stuff
// ===========================================================================

body {
    color: $body_color;
    background-color: $bg_color;
    border-top: 1em solid $accent_color;
    font-family: 'proxima-nova', helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
}

section {
    margin: 0 auto;
    padding: 4em 8em;
    max-width: 600px;
}

h1 {
    color: $header_color;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.35em;
}

a {
    display: inline-block;
    text-decoration: none;
    @include transition;

    &:hover {
        @include transform(translate(0, -2px));
    }
}

.img {
    margin-bottom: 1em;
    width: 5em;
    height: 5em;
    background-color: lighten($body_color, 20%);
    border-radius: 100%;
}

p > a {
    color: $link_color;
    border-bottom: 2px solid $link_color;

    &:hover {
        color: $link_hover_color;
        border-bottom: 2px solid $link_hover_color;
    }
}

.social_links {
    li {
        display: inline-block;
        margin: 1.5em 0.3em;
    }

    a {
        color: lighten($body_color, 30%);
        font-size: 2rem;

        > span {
            display: block;
            width: 0;
            height: 0;
            text-indent: -1000em;
            overflow: hidden;
        }

        &.ss-twitter:hover {
            color: #00b0ed;
        }

        &.ss-tumblr:hover {
            color: #34465d;
        }

        &.ss-rdio:hover {
            color: #006ed2;
        }

        &.ss-instagram:hover {
            color: #211f20;
        }
    }
}

@media screen and (max-width: 600px) {
    section {
        padding: 4em;
    }
}

@media screen and (max-width: 500px) {
    section {
        padding: 2em 4em;
    }
}
