@import "_common.scss";

// ===========================================================================
// Utilities + Components
// ===========================================================================

.constrainer {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.offstage {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.loading {
    text-align: center;

    &:after {
        display: inline-block;
        content: '';
        width: 60px;
        height: 60px;
        border: 10px solid darken($seafoam, 10%);
        border-right-color: transparent;
        border-radius: 50%;
        @include animation($name: spin);
    }
}

.tooltip {
    $tooltip_bg: #322f36;

    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 12px;
    margin-left: -36px;
    width: 60px;
    padding: 8px;
    color: #fff; /*RGB Fallback */
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    background-color: $tooltip_bg;
    border-radius: 3px;
    z-index: 2;

    &:after {
        position: absolute;
        display: block;
        bottom: -16px;
        left: 50%;
        margin-left: -8px;
        content: '';
        border: 8px solid transparent;
        border-top-color: $tooltip_bg;
    }
}

// ===========================================================================
// Template
// ===========================================================================

body {
    color: $body_color;
    font-size: 1.02em;
    line-height: 1.45;
    font-family: 'Open Sans', sans-serif;
    background-color: $page_bg;
}

::selection {
    background: $page_selection;
}

::-moz-selection {
    background: $page_selection;
}

a {
    color: inherit;
    @include simple_transition;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $header_color;
}

h1 {
    font-size: 2.6em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
}

button,
.button {
    display: inline-block;
    padding: 17px 26px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    background-color: $maroon;
    border-radius: 3px;
    text-decoration: none;
    border: 0;

    &:hover {
        background-color: lighten($maroon, 5%);
    }
}

#site_header {
    background-color: $header_bg;
    border-bottom: 10px solid #fff;
    overflow: hidden;

    h1,
    nav {
        line-height: 80px;
    }

    h1 {
        float: left;
        margin: 0;
        font-weight: normal;
        font-size: 1.2em;

        a {
            color: desaturate(lighten($header_bg, 55%), 16%);
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    nav {
        $nav_active: lighten($header_bg, 3%);

        float: right;
        font-size: 1.11em;

        li {
            display: inline-block;

            &.active a {
                background-color: $nav_active;
            }

            a {
                padding: 0 22px;
                color: desaturate(lighten($nav_active, 30%), 8%);

                &:hover {
                    background-color: lighten($nav_active, 2%);
                }
            }
        }
    }
}

#site_footer {
    $text_color: #B3808D;

    padding: 35px 0;
    background-color: #814252;
    border-top: 10px solid #fff;
    color: $text_color;
    font-size: 0.94em;

    a:hover {
        color: lighten($text_color, 10%);
    }

    .social_links {
        float: right;

        li {
            position: relative;
            display: inline-block;

            & + li {
                margin-left: 8px;
            }

            a {
                display: block;
                text-decoration: none;

                &:before {
                    font-size: 1.8em;
                }
            }

            .tooltip {
                display: none;
            }

            &:hover .tooltip {
                display: block;
            }
        }
    }
}

.waves {
    padding: 90px 0 50px 0;
    background-position: top;
    background-repeat: repeat-x;

    &.cloudy {
        background-color: $cloudy;
        @include at2x('bg_wave_light', 158px, 44px);
    }

    &.seafoam {
        background-color: $seafoam;
        @include at2x('bg_wave_dark', 158px, 44px);
    }
}

// ===========================================================================
// Media Queries
// ===========================================================================

@media screen and (max-width: 1000px) {
    .constrainer {
        padding: 0 30px;
        width: auto;
    }
}

@media screen and (max-width: 740px) {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    #site_footer {
        text-align: center;

        br {
            display: none;
        }

        .social_links {
            float: none;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 320px) {
    .constrainer {
        padding: 0 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.15em;
    }

    #site_header {
        text-align: center;

        h1,
        nav {
            float: none;
        }

        h1 {
            font-size: 1.8em;
            line-height: 80px;
        }

        nav {
            line-height: 45px;
        }
    }

    #site_footer {
        font-size: 0.85em;
    }
}