@import "_common.scss";

// ===========================================================================
// Sections
// ===========================================================================

#intro {
    padding: 40px 0 80px 0;
    text-align: center;

    h1 {
        margin: 20px 0 10px 0;
    }

    p {
        margin-bottom: 30px;
        font-size: 1.4em;
    }
}

#timeline {
    $timeline_width: 10px;
    $timeline_color: $page_bg;
    $stick_width: 55px;

    overflow: hidden;

    .constrainer {
        position: relative;
    }

    h2 {
        margin: -20px 0 0 0;
        padding-top: 20px; // Padding for anchor
        color: lighten($page_bg, 3%);
    }

    > div > p {
        color: darken($seafoam, 7%);

        a:hover {
            color: $seafoam;
        }
    }

    strong {
        color: $header_color;
    }

    p {
        margin-top: 10px;
    }

    ol {
        padding: 50px 0;
        overflow: hidden;

        &:after {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -$timeline_width/2;
            display: block;
            content: '';
            width: $timeline_width;
            height: 100%;
            background-color: $timeline_color;
            border-radius: 2px;
        }
    }

    li {
        position: relative;
        clear: both;
        width: 380px;
        padding: 20px;
        padding-top: 16px;
        background-color: $page_bg;
        z-index: 1;
        @include simple_transition;

        + li {
            margin-top: -28px;
        }

        &:hover {
            background-color: lighten($page_bg, 3%);
        }

        &:before {
            position: absolute;
            top: 15px;
            display: block;
            content: '';
            width: $stick_width;
            height: $timeline_width;
            background-color: $timeline_color;
        }

        &.odd {
            float: left;

            &:before {
                right: -$stick_width;
            }
        }

        &.even {
            float: right;

            &:before {
                left: -$stick_width;
            }
        }

        &.current {
            h3,
            strong {
                color: #67a8ad;
            }
        }
    }
}

#music {
    $text_color: $cloudy;

    overflow: hidden;
    text-align: center;

    h2 {
        color: #fff;
    }

    p {
        color: $text_color;
        font-size: 1.3em;

        &.outro {
            font-size: 1.2em;
        }
    }

    a:hover {
        color: lighten($text_color, 10%);
    }

    ol {
        margin: 25px -1.5%;
    }

    li {
        display: inline-block;
        margin: 1.5%;
        width: 22%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.85;
        }

        a {
            display: block;
            border: 6px solid darken($seafoam, 8%);
            @include simple_transition;

            &:hover {
                border-color: darken($seafoam, 10%);

                img {
                    opacity: 1;
                }
            }
        }
    }
}

// ===========================================================================
// Media Queries
// ===========================================================================

@media screen and (max-width: 1000px) {
    #timeline li {

        $stick_width: 34px;

        &:before {
            width: $stick_width;
        }

        &.odd {
            &:before {
                right: -$stick_width;
            }
        }

        &.even {
            &:before {
                left: -$stick_width;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    #timeline {
        ol {
            padding-top: 30px;

            &:after {
                top: 0;
            }
        }

        li {
            width: auto;

            &.odd,
            &.even {
                float: none;
            }

            &:before {
                display: none;
            }

            + li {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .waves {
        padding-top: 70px;
    }
}

@media screen and (min-width: 600px) {
    #intro {
        img {
            @include rotate(360deg);
            @include simple_transition($duration: 4s);

            &:hover {
                @include rotate(-360deg);
            }
        }
    }
}

@media screen and (max-width: 540px) {
    #music {
        ol {
            margin-right: -3%;
            margin-left: -3%;
        }

        li {
            margin: 3%;
            width: 44%;
        }
    }
}

@media screen and (max-width: 320px) {
    #intro {
        h1 {
            margin: 10px 0;
        }

        p {
            margin-bottom: 20px;
            font-size: 1.2em;
        }

        img {
            margin-top: -15px;
            width: 200px;
            height: auto;
        }
    }

    #timeline {
        > div > p,
        h2 {
            text-align: center;
        }

        h2 {
            margin-top: 0;
        }

        ol {
            position: relative;
            padding: 0;
            margin: 30px 0;
        }
    }

    #music {
        padding-bottom: 60px;

        p {
            font-size: 1.1em;
        }
    }
}
