@import "_common.scss";

// ===========================================================================
// Sections
// ===========================================================================

#intro {
    padding: 50px 0;
    text-align: center;
}

// ===========================================================================
// Media Queries
// ===========================================================================

@media screen and (max-width: 740px) {
    #intro img {
        width: 100%;
        height: auto;
    }
}