.constrainer {
  margin: 0 auto;
  padding: 0;
  width: 960px; }

.offstage {
  position: absolute;
  top: -9999px;
  left: -9999px; }

body {
  color: #6d717d;
  font-size: 1.02em;
  line-height: 1.45;
  font-family: "Open Sans", sans-serif;
  background-color: #e0ecee; }

a {
  color: inherit;
  -ms-transition: all 0.08s ease-out 0s;
  -webkit-transition: all 0.08s ease-out 0s;
  transition: all 0.08s ease-out 0s; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #514168; }

h1 {
  font-size: 2.6em;
  margin-bottom: 10px; }

h2 {
  font-size: 2.2em;
  margin-bottom: 10px; }

h3 {
  font-size: 1.5em; }

button,
.button {
  display: inline-block;
  padding: 17px 26px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  background-color: #524860;
  border-radius: 3px;
  text-decoration: none;
  border: 0; }
  button:hover,
  .button:hover {
    background-color: #7d4351; }

#site_header {
  background-color: #524860;
  border-bottom: 10px solid white;
  overflow: hidden; }
  #site_header h1,
  #site_header nav {
    line-height: 80px; }
  #site_header h1 {
    float: left;
    margin: 0;
    font-weight: normal;
    font-size: 1.4em; }
    #site_header h1 a {
      color: #fff; }
  #site_header a {
    display: block;
    text-decoration: none; }
  #site_header nav {
    float: right;
    font-size: 1.11em; }
    #site_header nav li {
      display: inline-block; }
      #site_header nav li.active a {
        background-color: #594f69; }
      #site_header nav li a {
        padding: 0 22px;
        color: #9b97a0; }
        #site_header nav li a:hover {
          background-color: #5e536f; }

#site_footer {
  background-color: #873c4f;
  border-top: 10px solid white;
  color: #b87b8a; }
  #site_footer a:hover {
    color: #ca9ca7; }
  #site_footer .social_links {
    float: right;
    font-size: 1.4em; }
    #site_footer .social_links li {
      display: inline-block; }
      #site_footer .social_links li + li {
        margin-left: 5px; }
      #site_footer .social_links li a {
        text-decoration: none; }

footer,
section {
  padding: 50px 0; }

@media screen and (max-width: 1000px) {
  .constrainer {
    padding: 0 30px;
    width: auto; } }
@media screen and (max-width: 740px) {
  h1 {
    font-size: 2.2em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.3em; }

  #site_footer {
    text-align: center; }
    #site_footer br {
      display: none; }
    #site_footer .social_links {
      float: none;
      margin-bottom: 20px; } }
@media screen and (max-width: 320px) {
  .constrainer {
    padding: 0 15px; }

  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.4em; }

  h3 {
    font-size: 1em; }

  #site_header {
    text-align: center; }
    #site_header h1,
    #site_header nav {
      float: none; }
    #site_header h1 {
      font-size: 1.8em;
      line-height: 80px; }
    #site_header nav {
      line-height: 45px; } }
